@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  body {
    background-color: #09090A;
    color: white;
    height: 100vh;
  }




  header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pega toda a largura do header e colocoar espaço entre os elementos */

    padding: 48px; /* descolar os elementos da borda */
    position: fixed;
    width: 100%;
  }




  button {
    font-family: 'Inter', cursive;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    gap: 12px; /* espaço entre os elementos */
    border: 2px solid #8B5CF6;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    display: flex; 
    align-items: center; 
    /* Display é a disposição dos elementos dentro de um elemento, o flex (tirou o padrão que era inline, um elemento ao lado do outro) faz com que seja possível alinhar os itens da forma desejada */ 

    /* A primeira coisa que essa declaração faz é colocar um elemento ao lado do outro, depois é só alterar o posicionamento com o align-items, lembrando que essa propriedade só existe quando tem o flex funcionando */
  }



  #form-habits {
    display: flex;
    padding: 182px 48px 48px; 
    /* o 182px é relativo à position: fixed; do header e sua width, esse valor foi colocado para que os elementos não fiquem se sobrepondo. */

    width: fit-content; /* encaixar o conteúdo na largura */
  }

  form {
    display: flex;
    padding: 20px 48px;
  }




  .days {
    display: flex;
    gap: 48px;
    margin-left: 32px;
  }



  .day {
    display: flex;
    gap: 24px;
    flex-direction: column; /* colocar os quadrados em coluna */
  }

  .day div {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    text-align: center;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    color: #A1A1AA;
  }




  .habits {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-top: 60px;
    
  }



  .habit {
    width: 64px;
    height: 64px;
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }



  
  input {
    appearance: none; /* alguns inputs são necessários tirar a aparência para utilizar outras propriedades*/

    background-color: #18181b;
    width: 64px;
    height: 64px;
    border: 2px solid #27272A;
    border-radius: 8px;
  }

  input:checked {
    background-color: #8B5CF6;
    border: 2px solid #A78BFA;
  }



  .especial {
    display: flex;
    flex-direction: row;
  }



/* Aplicando a responsividade no botão */

  /* essa regra diz que se o dispositivo tiver de 0 a no máximo 570px de largura, a declaração será aplicada */

  @media (max-width: 570px) {
    button div {
      display: none; /* o texto do botão some */
    }
  }